body{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-left: 20px;
    box-shadow: 1px 1px 10px #888888
}
header h1{
    font-family: sans-serif;
    font-weight: 200;
}
header a{
    margin-right: 40px;
    text-decoration: none;

}
header a:first-child{
    color: red;
}
.main{
    display: flex;
}
.left{
    width: 10%;
}
.mid{
    width: 80%;
    background-color: #99e1f6;
    border-radius: 10px;
    margin-top: 30px;
}
.khung{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.anh{
    margin: 10px 20px;
    width: calc(33.33% - 40px);
    text-align: center;

}
img{
    width: 90%;
    height: 85%;
    border-radius: 10px;
}
.right{
    width: 10%;
}
@media screen and (max-width: 1000px){
   .khung{
       display: block;
   }
   .anh{
       width: 95%;
   }
}
