body,p{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    background-color:rgb(41, 56, 70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
}
header h3{
    margin-left: 10px;
    color: rgb(255, 255, 255);
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-right: 30px;
    color: rgb(255, 254, 254);
}
.main{
    margin-left: 15px;
    height: 80vh;
    display: flex;
}
table{
    border-collapse: collapse;
    width: 200px;
}
td{
    border: 1px solid black;
    height: 30px;
    padding: 10px;
}
#menu{
    width: 25%;
    padding-left: 70px;
}
#home{
    width: 75%px;
}
